<ul>
    <li>Chart Of Accounts</li>
    <ul>
        <li id="first" draggable="true" class="drop-zone">
            Application of Funds
            <ul>
                <li>Current Assets</li>
                <li>Fixed Assets</li>
                <li>Investments</li>
                <li>Temporary Accounts</li>
            </ul>
        </li>
        <li draggable="true" class="drop-zone">
            Source of funds (Liabilities)
            <ul>
                <li>
                    Capital Account
                    <ul>
                        <li>Reserves and Surplus</li>
                        <li>Shareholders Funds</li>
                    </ul>
                </li>
                <li>
                    Current Liabilities
                    <ul>
                        <li>
                            Accounts Payable
                            <ul>
                                <li>Creditors</li>
                                <li>Payroll Payable</li>
                            </ul>
                        </li>
                        <li>
                            Duties and Taxes
                            <ul>
                                <li>CGST</li>
                                <li>GST Charges</li>
                                <li>IGST</li>
                                <li>SGST</li>
                                <li>TDS</li>
                                <li>TDS Payable</li>
                                <li>VAT 13%</li>
                            </ul>
                        </li>
                        <li>Loans (Liabilities)</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li draggable="true" class="drop-zone">
            Equity
            <ul>
                <li>Capital Stock</li>
                <li>Dividends Paid</li>
                <li>Opening Balance Equity</li>
                <li>Retained Earnings</li>
            </ul>
        </li>
        <li draggable="true" class="drop-zone">
            Income
            <ul>
                <li>Direct Income</li>
                <li>Indirect Income</li>
            </ul>
        </li>
        <li draggable="true" class="drop-zone">
            Expenses
            <ul>
                <li>Direct Expenses</li>
                <li>Indirect Expenses</li>
            </ul>
        </li>
    </ul>
</ul>

<!--<script src="./object-research.js"></script>-->
<script src="./advance.js"></script>
